body{
  margin: 0;
  font-family: sketchnote-text, sans-serif;
  font-weight: 700;
  font-style: normal;
}
canvas{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-image: linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
  background-image: -o-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
  background-image: -moz-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
  background-image: -webkit-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
  background-image: -ms-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);    
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(105,173,212)),color-stop(0.84, rgb(23,82,145)));
  z-index: -1;
}
.generate-form{
  right: 0;
  top: 0;
  padding:1em;
  position:absolute;
}
.input-form{
  right: 0;
  bottom: 0;
  padding:1em;
  position:absolute;
}
.input{
  border:none;
  border-radius:0.5em;  
  padding: .5em;
}
.btn{
  display: inline-block;
  padding: .3em;
  border-radius: .5em;
  color: #66aad2;
  background: #ffffff;
  margin-left: 0.3em;
}
#names-list{
  list-style-position: outside;
  padding: 0;
}
#names-list li{
    list-style: none;
    padding: 0.5em;
    background: #fffffffa;
    color: #545454;
    border-radius: 0.2em;
    border: 2px solid #787878;
    text-align: center;
    margin-bottom: 0.1em;
}
.remove-name{
  float: right;
  margin-top: 0.2em;
  color:#66aad2;
} 
.winner{
  font-size:7em;
  color:#fff;
  position: absolute;
  top: 32%;
}
